MINIO_ENDPOINT=xxxxxxx
MINIO_ACCESS_KEY=your_access_key
MINIO_SECRET_KEY=your_secret_key
MINIO_BUCKET=your_bucket
MINIO_SECURE=true

QDRANT_URL=xxxxxxxx

AI_BASE_URL=xxxxxx
OPENAI_API_KEY=your_api_key
EMBEDDING_MODEL=xxxxxx-embedding
CHAT_MODEL=xxxx-text
COLLECTION_NAME=documents

CHUNK_SIZE=500
CHUNK_OVERLAP=50
